
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  
:root {
    --background: #F2F5F9;
    --item: #FFFFFF;
    --headings: #111729;
    --text: #677489;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

p {
    font-family: 'Lato';
    color: var(--text);
    font-size: 16px;
    line-height: 1.5rem;
    margin: 0;

}

h1, h2 {
    font-family: 'Poppins';
    color: var(--headings);
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 0px 0px 12px 0px;
}

h2 {
    font-size: 16px;
    margin: 0px 0px 0px 0px;
}

.small-text {
    font-size: small;
}

.flex-container {
    margin-top: 124px;
    margin-bottom: 124px;
    display: flex;
    justify-content: center;
}
  
.flex-item {
    background-color: var(--item);
    font-size: 30px;
    width: 420px;
    border-radius: 10px;
    overflow: hidden;
}

.profile {
  border-top: 1px solid var(--background);
  padding: 24px 32px;
  display: flex;
}

.content {
  margin: 0px 32px 24px; 
}

figure {
    margin: 0;
    padding: 0;
    position: relative;
}

.hero-image {
    width: 100%;
    z-index: 0;
}

.overlay-image {
    width: calc(100% + 2px);
    position: absolute;
    bottom: 5px;
    z-index: 2;
}

.avatar-image {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 5px solid var(--background);
    margin-right: 12px;
}



