/* <uniquifier>: Use a unique and descriptive class name*/
/* <weight>: Use a value from 100 to 900*/

/*.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}*/


/* autofill autocomplete*/

body {
  background-color: #121826;
  /*background-color: white;*/
  color: #E5E7EB;
  font-family: "Inter";
  margin: 0;
  padding: 0px;

  /*fill-opacity 0.3 svg*/
  background-attachment: fixed;
  background-image: url("../images/blur-radial.svg"), url("../images/blur-radial.svg");
  background-position: -374.5px -374.5px, calc(100vw - 375.5px ) calc(100vh - 375.5px);
  background-repeat: no-repeat, no-repeat;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    
}

h1 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 0px;
}

button {
  font-family: "Inter";
  font-weight: 500;
  background-color: #652CD1;
  color: #E5E7EB;
  border: none;
  font-size: 12px;
  border-radius: 20px;
  padding: 10.25px;
  width: 125px;
  min-width:fit-content;
  border: 2.5px solid transparent;
  margin-top: 35px;
}

button:hover {

  background-color: #845EEE;

  border-color:  #845EEE;
}

label, input {
  color: #A1A1A9;
  width: 100%;
  font-size: 12px;
  font-family: "Inter";
  font-weight: 600;
}

label {
  margin: 24px 0px 8px 0px;
}

input {
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  border-radius: 12px;
  background-color: #212936;
  border: 2.5px solid #4D5562;
  
  padding: 14.5px;
  color: #E5E7EB;
  font-weight: 500;
}

input:focus {
  border-color: #845EEE;
  outline: none;

}

input::placeholder {
  color: #4D5562;
  font-weight: 600;
}

.page {
  width: 455px;
  max-width: 90%;
}


.count {
  color:  #4D5562;
  font-size: 12px;
  font-weight: 500;
  margin-right: calc(50% - 36px);
  margin-top: 5px;
  display: flex;
  gap: 6px;
  justify-content: flex-end;
  align-items: center;
}

.step {
  display: none;
  background-color: #212936;
  border: 1px solid;
  border-color: #4D5562;
  padding: 40px;
  border-radius: 15px;
  max-width: 100%;
  flex-direction: column;
  margin-top: 182px;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-count {
  width: 10px;
  height: 10px;

  padding: 0;
  margin: 5px;

  background-color: rgb(77, 85, 98);
  border-radius: 50%;
  display: inline-block;
  
}

.count-text {
  margin-right: 20px;
}

.step-shadow {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.topic {
  
  width: 100%;

  
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  

  margin-top: 16px;

}


.topic label {
  font-size: 14px;
  font-family: "Inter";
  font-weight: 300;
  color: #4D5562;
}

.topic label span {
  background-color: #394150;
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  
  border: 1px solid #4D5562;
  width: 100%;
  border-radius: 12px;

  padding: 15px;
  color: #4D5562;

  display: block;
}

.topic label input {
  position: absolute;
  display: none;
  color: #4D5562 !important;
}

.topic label input + span{
  color: #A1A1A9
}

.topic input:checked + span {
    color: #E5E7EB;
    background-color: #652CD1;
    font-weight: 500;
}

.topic input:hover + span {
  color: #E5E7EB;
  background-color: #845EEE;
  font-weight: 500;
}

.less-space {
  margin-top: 11px;
}

#choose-text {
  font-size: 14px;
  font-weight: 300;
  text-shadow: 0px 0px 6px #d12c60, 0px 0px 4px #d12c60, 0px 0px 2px #d12c60;
  display: none;
}