/* <uniquifier>: Use a unique and descriptive class name*/
/* <weight>: Use a value from 100 to 900*/

/*.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}*/


/* autofill autocomplete*/

body {
  background-color: #121826;
  /*background-color: white;*/
  color: #E5E7EB;
  font-family: "Inter";
  margin: 0;
  padding: 0px;

  /*fill-opacity 0.3 svg*/
  background-attachment: fixed;
  background-image: url("../images/blur-radial.svg"), url("../images/blur-radial.svg");
  background-position: -374.5px -374.5px, calc(100vw - 375.5px ) calc(100vh - 375.5px);
  background-repeat: no-repeat, no-repeat;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    
}

h1 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 0px;
}

button {
  font-family: "Inter";
  font-weight: 500;
  background-color: #652CD1;
  color: #E5E7EB;
  border: none;
  font-size: 12px;
  border-radius: 20px;
  padding: 10.25px;
  width: 125px;
  min-width:fit-content;
  border: 2.5px solid transparent;
  margin-top: 35px;
}

button:hover {

  background-color: #E5E7EB;
  color: #652CD1;
  border-color:  #652CD1;
}

label, input {
  color: #A1A1A9;
  width: 100%;
  font-size: 12px;
  font-family: "Inter";
  font-weight: 600;
}

label {
  margin: 24px 0px 8px 0px;
}

input {
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  border-radius: 12px;
  background-color: #212936;
  border: 2.5px solid #4D5562;
  padding: 14.5px;
  color: #E5E7EB;
  font-weight: 300;
}

input:focus {
  border-color: #845EEE;
  outline: none;

}

input::placeholder {
  color: #4D5562;
  font-weight: 600;
}


.count {
  color:  #4D5562;
  font-size: 12px;
  font-weight: 500;
}

.step {
  display: none;
  background-color: #212936;
  border: 1px solid;
  border-color: #4D5562;
  padding: 40px;
  border-radius: 15px;
  width: 375px;
  max-width: calc(90% - 80px);
  flex-direction: column;
  margin-top: 182px;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-count {
  width: 10px;
  height: 10px;

  padding: 0;
  margin: 0;

  background-color: #4D5562;
  border-radius: 50%;
  display: inline-block;
}

.step-shadow {
  width: 15px;
  height: 15px;

  border-radius: 50%;
  background-color: #662cd139;
}