<h1>Task details</h1>

<form>
    <label for="task-name">Email</label>
    <input type="text" id="task-name" name="task-name" placeholder="Enter a task name">

    <label for="description">Message</label><br>
    <textarea id="description" name="description" placeholder="Enter a short description"></textarea>

    <div>
        <input type="radio" id="programmer" name="programmer" value="programmer">
        <label for="programmer"><img class="icon" src="assets/freelancer.png"></label>
    </div>



    <br><br><br>
    <a href="https://www.flaticon.com/free-icons/books" title="books icons">Books icons created by popo2021 - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/coffee" title="coffee icons">Coffee icons created by Freepik - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/alarm-clock" title="alarm clock icons">Alarm clock icons created by Freepik - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/strength" title="strength icons">Strength icons created by muh zakaria - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/chatting-app" title="chatting app icons">Chatting app icons created by Indielogy - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/office-worker" title="office worker icons">Office worker icons created by Prosymbols Premium - Flaticon</a>


</form>
