.be-vietnam-pro-thin {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.be-vietnam-pro-extralight {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.be-vietnam-pro-light {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.be-vietnam-pro-regular {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.be-vietnam-pro-medium {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.be-vietnam-pro-semibold {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.be-vietnam-pro-bold {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.be-vietnam-pro-extrabold {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.be-vietnam-pro-black {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.be-vietnam-pro-thin-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.be-vietnam-pro-extralight-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.be-vietnam-pro-light-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.be-vietnam-pro-regular-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.be-vietnam-pro-medium-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.be-vietnam-pro-semibold-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.be-vietnam-pro-bold-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.be-vietnam-pro-extrabold-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.be-vietnam-pro-black-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-style: italic;
}

html {
  background-image: url("../images/bg-image.svg");
  background-size: cover;
  background-position: center;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-family: "Be Vietnam Pro"; 
  font-size: 16px;
  padding-bottom: 120px;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 32px;
  font-weight: 400;
}

label {
  font-size: 14px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.description {
  width: 640px;
  max-width: 90%;
}

.card-pos {
  border-radius: 25px;
  background-color: hsla(0, 0%, 100%, 0.15);
  padding: 32px;
  width: 810px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  gap: 20px;
}

label {
  font-size: 14px;
  font-family: "Be Vietnam Pro";
  font-weight: 300;
  margin-bottom: 4px;
  display:inline-block;
}

input, select, button, textarea {
  width: 100%;
  border-radius: 15px;
  background-color: #F8FAFC;
  border: 0px;
  margin:0;
  padding: 24px 20px;
  font-size: 16px;
  font-family: "Be Vietnam Pro";
  font-weight: 700;
  color: #111729;
  box-sizing:border-box;
  -moz-box-sizing: border-box;
}

select {
  border-right: 16px solid transparent
}

button {
  color: #4036A9;
  font-size: 20px;
  font-weight: 800;
}

input::placeholder {
  color: #CDD5E0;
}

textarea {
  size: 2000;
  height: 200px;
  resize: none;
}

.small-input {
  width: 300px;
  max-width: 100%;
  flex-grow: 4;
}

.big-input {
  width: 100%;
}

.logo {
  margin: 20px 0px 0px 5%;
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 50px;
  } 
  h2 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 72px; 
  }
  .description {
    width: 450px;
    max-width: 90%;
  }
  .card-pos {
    width: auto;    
  }
  .card {
    margin: 0px;
    width: 90%;
  }
}